@model SacramentPlanner.Models.Hymn

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hymn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hymnNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hymnNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-controller="MeetingPrograms" asp-action="Details" asp-route-id="@Model.MeetingProgramID">Back to List</a>
</div>
